
#allHundreds {
    width:33.5%;
    float:left;
    background-color:#C2FCFC;
    margin-left:12%;
    margin-right:4.5%;
}

.hundredsContainer {
    display:inline-block;
    position:relative;
    width:100%;
    padding:0 0 1% 0;
    background-color:#C2FCFC;
}

.hundredsContainer:before {
    content:"";
    display:block;
    margin-top:100%;
}

.hundreds {
    background-color:#C2FCFC;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#allOnes {
    width:3.2%;
    float:right;
    background-color:#C2FCFC;
    margin-right:12%;
    margin-left:3%;
}

.onesContainer {
    display:inline-block;
    position:relative;
    width:100%;
    padding:0 0 1% 0;
    background-color:#C2FCFC;
}

.onesContainer:before {
    content:"";
    display:block;
    margin-top:100%;
}

.ones {
    background-color:#C2FCFC;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#tenOne {
    background-color:#C2FCFC;
}

.aTen {
    width:3.17%;
    float:left;
    margin-right:0.2%;
    background-color:#C2FCFC;
}

.tens {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.tensContainer {
    display:inline-block;
    position:relative;
    width:100%;
}

.tensContainer:before {
    content:"";
    display:block;
    margin-top:100%;
}

#stage {
    margin:auto auto 1% auto;
    font-size:2.5em;
    width:95%;
    text-align:center;
    vertical-align:middle;
    table-layout:fixed;
}

td {
    margin:auto;
    padding:0;
}

#bignumber {
    font-size:2em;
    width:15%;
}

* {
    font-family:Inconsolata, sans-serif;
    background-color:#C2FCFC;
}

body {
    background-color:#C2FCFC;
}

.dropmenu {
    background-color:#C2FCFC;
    width:60%;
    float:right;
    clear:right;
}

.menubutton {
    background-color:#53643D;
    box-shadow:#192A05 5px 5px;
    color:#192A05;
    text-align:center;
    font-size:2em;
    border-radius:5px;
    display:block;
    margin: 10px auto 0px auto;
    width:80%;
}

.buttonlink {
    color:#192A05;
    text-decoration:none;
    display:block;
    height:100%;
    width:100%;
}

a {
    color:#D63700;
}

.menubutton:hover {
    background-color:#D63700;
    box-shadow:#3B3B43 5px 5px;
    color:#3B3B43;
}

.buttonlink:hover {
    color:#3B3B43;
}


