table {
    margin:auto;
    font-size:2em;
    width:90%;
    text-align:center;
    vertical-align:middle;
}

#bignumber {
    font-size:3em;
}

/*#stage {
    background-color:#FAFB00;
    width:100%;
    text-align:center;
}

.number {
    width:7%;
    display:inline-block;
    font-size:2em;
    text-align:center;
    background-color:#FAFBFC;
    color:#3B3B43;
}

#biggest {
    width:16%;
    font-size:4em;
    font-weight:bold;
    color:#D63700;
}*/

* {
    font-family:Inconsolata, sans-serif;
}

body {
    background-color:#FAFBFC;
}

.dropmenu {
    background-color:#FAFBFC;
    width:60%;
    float:right;
    clear:right;
}

.menubutton {
    background-color:#53643D;
    box-shadow:#192A05 5px 5px;
    color:#192A05;
    text-align:center;
    font-size:2em;
    border-radius:5px;
    display:block;
    margin: 10px auto 0px auto;
    width:80%;
}

.buttonlink {
    color:#192A05;
    text-decoration:none;
    display:block;
    height:100%;
    width:100%;
}

a {
    color:#D63700;
}

.menubutton:hover {
    background-color:#D63700;
    box-shadow:#3B3B43 5px 5px;
    color:#3B3B43;
}

.buttonlink:hover {
    color:#3B3B43;
}
