#abacus {
    width:45%;
    float:right;
    margin: auto 2% auto auto;
}

#ones {
    width:10%;
}

.heightOuterTens {
    background-color:#FF4C00;
    display:inline-block;
    position:relative;
    width:10%;
}

.heightOuterTens:before {
    content:"";
    display:block;
    padding-top:100%;
}

.heightOuterOnes {
    background-color:#FAFBFC;
    display:inline-block;
    position:relative;
    width:100%;
}

.heightOuterOnes:before {
    content:"";
    display:block;
    padding-top:100%;
}

.heightInner {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tens {
    background-color:#FF4C00;
    height:10px;
    padding:1%;
}

.invisible {
    background-color:#000000;
}

.visible {
    background-color:#FF4C00;
}

#hundreds {
    background-color:#FF4C00;
    float:left;
    margin: auto auto auto 2%;
    width:45%;
}

#stage {
    margin:auto auto 2% auto;
    font-size:3em;
    width:95%;
    text-align:center;
    vertical-align:middle;
}

#bignumber {
    font-size:2em;
    width:15%;
}

* {
    font-family:Inconsolata, sans-serif;
}

body {
    background-color:#FAFBFC;
}

.dropmenu {
    background-color:#FAFBFC;
    width:60%;
    float:right;
    clear:right;
}

.menubutton {
    background-color:#53643D;
    box-shadow:#192A05 5px 5px;
    color:#192A05;
    text-align:center;
    font-size:2em;
    border-radius:5px;
    display:block;
    margin: 10px auto 0px auto;
    width:80%;
}

.buttonlink {
    color:#192A05;
    text-decoration:none;
    display:block;
    height:100%;
    width:100%;
}

a {
    color:#D63700;
}

.menubutton:hover {
    background-color:#D63700;
    box-shadow:#3B3B43 5px 5px;
    color:#3B3B43;
}

.buttonlink:hover {
    color:#3B3B43;
}


/*
CIRCLES AROUND NUMBERS: http://www.mademyday.de/css-height-equals-width-with-pure-css.html
HTML AROUND EACH NUMBER: <td><div class="container"><div class="bubble">13</div></div></td>


.container {
    position:relative;
    width:80%;
}

.container:before {
    content:"";
    display:block;
    padding-top:100%;
}

.bubble {
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:#FF7422;
    border-radius:50%;
    line-height:100%;
    text-align:center;
    vertical-align:middle;
}

*/

