* {
    font-family:Inconsolata, sans-serif;
}

td {
    width:49%;
}

body {
    background-color:#F9F9F9;
    color:#464646;
}

#output {
    font-weight:bold;
    border: 1px solid #1A5A63;
}

.outputcell {
    border: 1px solid #1A5A63;
    width: 45%;
}

#header {
    background-color:#1A5A63;
    width:102%;
    height:10%;
    margin-top:-50px;
    text-align:center;
    line-height:100%;
    font-size:3em;
    color:#F9F9F9;
}

.dropmenu {
    background-color:#F9F9F9;
    width:40%;
    float:right;
    clear:right;
}

.menubutton {
    background-color:#AAB857;
    box-shadow:#464646 5px 5px;
    color:#464646;
    text-align:center;
    font-size:2em;
    border-radius:5px;
    display:block;
    margin: 10px auto 0px auto;
    width:80%;
}

.buttonlink {
    color:#464646;
    text-decoration:none;
    display:block;
    height:100%;
    width:100%;
}

a {
    color:#AAB857;
}

.menubutton:hover {
    background-color:#CEE08C;
    box-shadow:#464646 5px 5px;
    color:#464646;
}

.buttonlink:hover {
    color:#464646;
}
