* {
    font-family:Verdana, sans-serif;
}

body {
    background-color:#F0E4EE;
}

#header {
    background-color:#22EEEE;
    width:100%;
    height:30%;
    margin-top:0px;
    text-align:left;
    position:fixed;
    font-size:3em;
    color:#FFFFFF;
}

#headercushion {
    width:100%;
    height:30%;
    background-color:#F0E4EE;
}

.menubutton {
    background-color:#AA3939;
    box-shadow:#550000 5px 5px;
    color:#550000;
    text-align:center;
    font-size:2em;
    border-radius:5px;
    display:block;
    margin: 10px auto 0px auto;
    width:50%;
}

.linkbutton {
    background-color:#AA3939;
    box-shadow:#550000 5px 5px;
    color:#550000;
    text-align:center;
    font-size:2em;
    border-radius:5px;
    display:block;
    float:right;
    clear:right;
    margin:5px;
    width:30%;
}

.buttonlink {
    color:#550000;
    text-decoration:none;
    display:block;
    height:100%;
    width:100%;
}

