* {
    font-family: Ubuntu, sans-serif;
}

tr {
    width: 100%;
}

td {
    width: 45%;
}

table {
    width: 100%;
}

body {
    background-color: #F9F9F9;
    color: #464646;
}

#header {
  background-color: #F9F9F9;
  text-align: center;
  width: 100%;
  font-size: 3em;
}

.button {
  display: inline-block;
  width: 40%;
  text-align: center;
  font-family: Ubuntu, sans-serif;
}

.row {
  display: flex;
}

.column {
  flex: 35%;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
