* {
    font-family: Ubuntu, sans-serif;
}

tr {
    width: 100%;
}

td {
    width: 45%;
}

table {
    width: 100%;
    font-size: 1.5em;
}

body {
    background-color: #F9F9F9;
    color: #464646;
}

#header {
  background-color: #F9F9F9;
  text-align: center;
  width: 100%;
  font-size: 3em;
}

#input {
  width: 80%;
  display: inline-block;
  vertical-align: text-top;
  text-align: center;
  background-position: center;
  border-radius: 25px;
  padding: 2%
}


.button {
  display: inline-block;
  width: 40%;
  text-align: center;
  font-family: Ubuntu, sans-serif;
}

.row {
  display: flex;
}

.column {
  flex: 35%;
}

.input_form {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.input_section {
  display: inline-block;
  width: 52%;
}

.dropmenu {
    background-color: #F9F9F9;
    width: 40%;
    float: right;
    clear: right;
}

.menubutton {
    background-color: #AAB857;
    box-shadow: #464646 5px 5px;
    color: #464646;
    text-align: center;
    font-size: 2em;
    border-radius: 5px;
    display: block;
    margin: 10px auto 0px auto;
    width: 80%;
}

.buttonlink {
    color: #464646;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

a {
    color: #AAB857;
}

.menubutton:hover {
    background-color: #CEE08C;
    box-shadow: #464646 5px 5px;
    color: #464646;
}

.buttonlink:hover {
    color: #464646;
}
