* {
    font-family: Ubuntu, sans-serif;
}

tr {
    width: 100%;
}

td {
    width: 45%;
}

table {
    width: 100%;
/*    font-size: 1.5em;*/
}

body {
    background-color: #F9F9F9;
    color: #464646;
}

#header {
  background-color: #F9F9F9;
  text-align: center;
  width: 100%;
  font-size: 3em;
}

#input {
  width: 80%;
  display: inline-block;
  vertical-align: text-top;
  text-align: left;
  background-position: center;
  border-radius: 25px;
  padding: 2%
}


.button {
  display: inline-block;
  width: 40%;
  text-align: center;
  font-family: Ubuntu, sans-serif;
}

.row {
  display: flex;
}

.column {
  flex: 35%;
}

.input_form {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.input_section {
  display: inline-block;
  width: 52%;
}
